# Node modules
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed

# Dependency directories
.idea/
.vscode/

# Environment configuration
.env

# OS-specific files
.DS_Store
Thumbs.db